.game-component {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #f4f4f9;
    /* Color de fondo ejemplo */
    background-image: url('../../assets/gameRenders/day_game_without_fire.png');
    background-size: 100% 100%; 
}

.game-header {
    text-align: center;
    margin-bottom: 1rem;
    color: #333;
}

.game-status {
    color:#333;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
   
}

.game-participants-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1rem;
    overflow-y: auto;
}

.participant-card {
    background: white;
    border-radius: 8px;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

.participant-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.participant-card.is-bot {
    border: 2px solid #ccc;
    /* Diferenciar bots visualmente */
}

.participant-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}